body{
	background: black;

#header {
	color: white;
}
p{
	color: white;
}
img {
	width: 100%;
}
#foto {
	color: white;
p{
	color:white;
}
img {
	height: 566px;
	width: 50%;
}
img {
	height: 566px;
	width: 50%;
}
}